<div class="wrap">
	<ul class="grid grid-sm-2 grid-lg-4">
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/note10.jpg" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">Samsung Note 10</h4>
					<div class="item-size">Grey Color</div>
					
					<div class="item-price h4">
						Rs. 190,000
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/mi9.jpg" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">Mi 9</h4>
					<div class="item-size">Black Color</div>
					
					<div class="item-price h4">
						Rs. 90,000
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/note8pro.png" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">Oneplus 8</h4>
					<div class="item-size">Blue Color</div>
					
					<div class="item-price h4">
						Rs. 120,000
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/oppof.jpg" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">OppoF7</h4>
					<div class="item-size">Red Color</div>
					
					<div class="item-price h4">
						Rs. 65,000
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/qmobile.jpg" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">QMobile 540</h4>
					<div class="item-size">White</div>
					
					<div class="item-price h4">
						Rs. 4200
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	  	<li>
	   	<div class="cat-item">
				<div class="item-header">
					<a href="" class="item-img">
						<img src="assets/img/note8pro.png" alt="" />
					</a>
					<a href="" class="item-img-zoom btn btn-secondary btn-circle"  title="Zoom In">
						<span class="fa fa-search-plus"></span>
					</a>
				</div>
				<div class="item-body">
					<h4 class="item-title">Mi Note 8 Pro</h4>
					<div class="item-size">Aqua Green</div>
					
					<div class="item-price h4">
						Rs. 38,000
					</div>
				</div>
				<a routerLink="/item" class="btn btn-primary btn-expanded">View Phone</a>
			</div> 
	  	</li>
	</ul>

</div>