<div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
            <!-- <img src="assets/img/damir-bosnjak.jpg" alt="..."> -->
          </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="https://seeklogo.com/images/A/a-c-letter-logo-052DF5877A-seeklogo.com.png" alt="...">
              <h5 class="title">A Tech Plus</h5>
            </a>
            <p class="description">
              Technology is yours
            </p>
          </div>
          <p class="description text-center">
           Shop # 122, 1st Floor, Singapore Plaza, Saddar, Rawalpindi
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-6 ml-auto">
                <h5>121
                  <br>
                  <small>Items in inventory</small>
                </h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6 ml-auto mr-auto">
                <h5>821 
                  <br>
                  <small>Sales</small>
                </h5>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-header">
          <h4 class="card-title">Team Members</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Flume
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                
                  <mat-form-field>
                    <input matInput placeholder="Company Name">
                  </mat-form-field>
                
              </div>
              <div class="col-md-4 px-1">
                <mat-form-field>
                    <input matInput placeholder="Phone Number">
                  </mat-form-field>
              </div>
              <div class="col-md-4 pl-1">
                <mat-form-field>
                    <input matInput placeholder="Email">
                  </mat-form-field>
              </div>
            </div>
            <div class="row" style="margin-top: 3rem">
              <div class="col-md-12 pr-1">
                <mat-form-field class="width-100p">
                    <textarea matInput placeholder="Address"></textarea>
                  </mat-form-field>
              </div>
              
            </div>
            <div class="row" style="margin-top:2rem">
              <div class="col-md-12">
                  <label>Upload Logo</label>
              
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
              
              </div>
              <div class="col-md-6 px-1">
                    <div class="box">
                            <input type="file" name="file-6[]" id="file-6" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-6"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span></span></label>
                        </div>
              </div>
              <div class="col-md-3 pl-1">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                    <mat-form-field class="width-100p">
                            <textarea matInput placeholder="Tagline"></textarea>
                          </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  