  <div class="columns white-bg">
  
    <div class="column">
        <div class="thumbnail-container">
          <img class="drift-demo-trigger m-auto" src="assets/img/note8pro.png">
        </div>
    </div>
  
    <div class="column">
      <div class="details">
        <h1>Note 8 Pro</h1>
        <p class="price">Rs. 38000</p>
        <p class="description">8GB Ram, 560 Aurdino GPU, SnapDragon 845, FHD Display</p>
  
  
  
        <div class="columns">
  
          <div class="column" id="wishlist-container">
  
            <button class="btn btn-primary">
              <span class="icon is-small">
                  <i class="nc-icon nc-atom" style="padding-right: 20px"></i>
                </span>
                <span>ADD TO WISHLIST</span>
            </button>
  
          </div>
          
         
  
        </div>
  
        <p class="small-text"><span>Shop Address</span> Ali Mobiles, Shop #102, 1st Floor, Singapore Plaza</p>
        <p class="small-text"><a routerLink="/plaza-search"><span>Search for more phones</span></a></p>
  
      </div>
    </div>
  
  </div>
  
