
<div class="container">
    <form>
      <h1>Send your ad to shops</h1>
      <div class="form-group">
        <select>
          <option>New</option>
          <option>Used</option>
        </select>
        <label for="select" class="control-label">Device Status</label><i class="bar"></i>
      </div>
      <div class="form-group">
        <input type="text" required="required"/>
        <label for="input" class="control-label">Name of Device</label><i class="bar"></i>
      </div>
      <div class="form-group">
        <textarea required="required"></textarea>
        <label for="textarea" class="control-label">Description</label><i class="bar"></i>
      </div>
      
    
      <div class="form-radio">
        <div class="radio">
          <label>
            <input type="radio" name="radio" checked="checked"/><i class="helper"></i>PTA approved
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="radio"/><i class="helper"></i>Non-PTA Compliant
          </label>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"/><i class="helper"></i>I verify all information is correct.
        </label>
      </div>
    </form>
    <div class="button-container">
      <button type="button" class="button"><span>Submit</span></button>
    </div>
  </div>